
/*Exquisite Corpse
Creative Web Development
Spring 2017
Aidan Rafferty
Kenzy O'Neill
Ashley Koett
Anthony Pappalardo III
*/


html{
  background-color: steelblue;
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/light-fog-forest.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

header{
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

main{
  color: whitesmoke;
}

.story{
  background-color: rgba(0,0,0, 0.65);
  padding: 2.5%;
  margin-top: 400px;
  margin-left: 5%;
  margin-right: 5%;
}

.content{
  font-family: 'Amatic SC', cursive;
}

section{
  margin-left: 5%;
  margin-right: 5%;
}

.container {
	padding: 10%;
}

h1{
  font-family: 'Fredericka the Great', cursive;
  font-size: 4em;
  text-shadow: 4px 4px #717272;
  margin-top: 100px;
}

.fire {
  background-image: url(../img/fire.gif);
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
}

.creature-img {
  background-image: url(../img/creature.png);
  background-size: 90%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
}

h2{
  text-align: center;
  font-size: 32pt;
  font-family: 'Fredericka the Great', cursive;
  background-color: rgba(0,0,0, 0.65);
  padding: 2.5%;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}
p{
  text-indent: 50px;
  font-size: 28pt;
}
.creature{
  font-style: italic;
  color: #cc0000;
  text-shadow: 2px 2px black;
  font-size: 35pt;
 }
 .fog{
  background-image: url(../img/fog.gif);
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }
